@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    line-height: 1.2;
}
.banner-title span{
    color: #2b2b2b;
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    /*padding: 0.6rem 1rem;*/
    display: flex;
    justify-content: space-between;
}

.read-more {
    display: inline-block;
    padding: 5px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: teal;
    border: 2px solid transparent;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .read-more:hover {
    background-color: #fff;
    color: teal;
    border-color: teal;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }

.blogs-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}

.see-all-container {
    text-align: center;
    margin-bottom: 15vh;
}

.see-all-btn {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.see-all-btn:hover {
    background-color: darkcyan;
}


@media (max-width: 1024px) {
    .banner-title {
        font-size: 2.5rem; 
    }

    .banner p {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .banner-title {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .nav-logo p {
        font-size: 20px;
    }

    .banner-title {
        font-size: 1.8rem;
    }

    .banner p {
        font-size: 0.9rem;
    }
    .banner form{
        width: 90%;
        margin-left: 20px;
        /*height: 50px;*/
    }
}
@media (max-width: 426px) {
    .read-more {
        padding: 2px 10px;
        font-size: 0.9rem;
    }
}